/* Empty. Add your own CSS if you like */
.buscar{
	background-image: url(https://static.wikia.nocookie.net/fb29ff9b-15c9-4b90-af27-037be3a3714f);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}